<h2>New question from properguide website</h2>
<br>
<h2>Question from <%= @question.name %></h2>
<h2>Email: <%= @question.email %></h2>
<h2>Phone: <%= @question.phone %></h2>
<br>
<h2>Subject: <br><%= @question.subject %></h2>
<br>
<p>Text: <br><%= @question.text %></p>

New question from properguide website

Question from <%= @question.name %>
Email: <%= @question.email %>
Phone: <%= @question.phone %>

Subject: <%= @question.subject %>

Text: <%= @question.text %>
